.todoForm{
    padding: 10px;
    margin: 5px auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: gray;
    max-width: 700px;
}

.taskTitle{
    margin-top: 5px;
    margin-bottom: 5px;
}

.durationTitle{
    margin-top: 15px;
    margin-bottom: 5px;
}
.priorityTitle{
    margin-top: 15px;
    margin-bottom: 5px;
}

.taskInput{
    font-weight: 300;
    font-size: large;
    width: 470px;
    height: 30px;
    
}

.durationInput{
    font-weight: 300;
    font-size: large;
    width:470px;
    height: 30px;
}

button{
    font-weight: 100;
    font-size: large;
    width: 470px;
    height: 30px;
    color: white;
    background-color: #ff1493 ;
    border-style: none;
    border-radius: 7px;
}

button:hover{
    background-color: #ff69b4;
    cursor: pointer;
}

.priority{
    width: 30px;
    
}

.priority:hover{
    cursor: pointer;
}